Django
djangorestframework
psycopg
# Now install the PostgreSQL driver:
psycopg[binary]
django-cors-headers
python-dotenv
Pillow
gunicorn
pytest
pytest-django

djangorestframework-simplejwt
django-filter
python-decouple
gunicorn 
whitenoise

dj-database-url

# For production image and video manager
cloudinary 
django-cloudinary-storage